.footer {
  width: 100%;
  padding: 0rem;
  background-color: #f8f9fa; 
  position:fixed;
  bottom:0;
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: 768px) {
    margin-top: 24px;
    margin-bottom: 8px;
  }
}
